@page "/about"

<PageTitle>Hellums World!</PageTitle>

<p>Samples of my work are highlighted in the nav bar, along with links on the menu bar to my <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> and <a target="_blank" href="https://github.com/hellums">GitHub</a> pages.</p>

<h3><span class="oi oi-heart"></span> My Passion for Coding</h3>
<p>Coding was one of my true "first loves" in school, life, and career. My introduction to monolithic, functional programming was on a ridiculously expensive Apple IIe and then a sadly much cheaper Texas Instruments TI-99/4A (oddly <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">Wil Wheaton's favorite</a> also).</p>
<p>As the market for home computers improved, I moved on to modular, procedural programming of PCs in Turbo Pascal and C, on the Tandy 1000HX and a 486SX IBM PC.</p>
<p>I programmed in C/C++, Turbo Pascal, 3rd party GUI DLL on SCO Linux, and Assembly language on a clustered pair of Burroughs B6x00/7x00 mainframes. Each of those had a PC emulator that replaced their vintage terminal, punch card reader, and 14-inch Winchester disks. </p>

<h3><span class="oi oi-code"></span> My "Return to the Matrix"</h3>
<p>They say if you do what you love, you'll never work a day in your life. And I've always loved writing, debugging, and testing software.</p>
<p>So, when my wife (my other love, back then in school and now) recently resigned her position as Admissions Manager for some well-deserved time off, I decided to step out of my role as Director of IT (Infrastructure & Operations) also, and join her for a 1-year "Back to School" career break/sabbatical and some travel.</p>
<p>I was eager to refresh my degree and boost my web, Agile, and object-oriented knowledge and skillset. So, I broke out all my programming books, downloaded Visual Studio Code, and hit the Web!</p>
<p>I soon learned about <a target="_blank" href="https://codelouisville.org">Code Louisville</a> and decided to take some of their Pluralsight video-based, mentor-facilitated classes. This included instruction or use of the following:</p>
<ul>
    <li>.NET and C#, Python, OOP</li>
    <li>Data Analysis/Visualization, Jupyter Notebook, MatPlotLib</li>
    <li>IDEs, Visual Studio and VS Code, IDLE</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>Web frameworks (Razor, Blazor/Wasm, Flask/Jinja2)</li>
    <li>Agile, Kanban</li>
    <li>Object-oriented SW design principles and patterns (SOLID, DRY, DI)</li>
    <li>SW architecture patterns (N-Tier, REST API, MVVM, MVC)</li>
    <li>SaaS (Git, Slack, Google Colab)</li>
    <li>PaaS (Azure websites, Docker containers), </li>
    <li>DevOps, CI/CD pipelines (software, data)</li>
</ul>

<p></p>
