@page "/about"

<PageTitle>Hellums world!</PageTitle>

<h3><span class="oi oi-code"></span> My Fondness for Code</h3>
<p>My introduction to programming was on a ridiculously expensive Apple IIe and a sadly much cheaper Texas Instruments TI-99/4A. It was one of the first PCs with a 16-bit bus, but a slightly foreshadowing "War Games"-style cassette tape for storage. Wil Wheaton was <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">apparently a big fan of the TI</a> too.</p>
<p>As the market for home computers improved, I moved on to programming PCs in Turbo Pascal and C, starting with the Tandy 1000HX (640K RAM and 2x 3.5" floppies!) and a 486 IBM compatible (with a 105MB Hard Drive!).</p>
<p>I also had the opportunity to program in Assembly language on a pair of Burroughs B6x00/7x00 mainframes. The mainframe had recently received a PC emulator that replaced its vintage punch card reader and 10" Winchester disks. But the job primarily came with lots of C/C++, Turbo Pascal, and 3rd party GUI DLL work on SCO Linux.</p>

<h3><span class="oi oi-heart"></span> My Return to Software Development</h3>
<p>Coding was one of my true "first loves" in school, life, and career. When my wife recently resigned her position as Admissions Manager for some well-deserved time off,
    I saw a good opportunity to step out of my role as Director of IT (Infrastructure & Operations) and join her for at least a year as part of a career break and personal sabbatical. 
    My goal was to refresh my degree somewhat, so I broke out all my programming books and downloaded Visual Studio Code. </p>
<p>Then I took Pluralsight video-based and mentor-facilitated classes through <a target="_blank" href="https://codelouisville.org">Code Louisville</a>. 
    These included .NET and C#, Python, OOP, and Data Analysis using VS, VSC, and Jupyter Notebook, with the requisite study of collaboratiion and Web programming frameworks (Slack, Git, Azure, Razor, Blazor, Flask/Jinga, HTML, CSS, Bootstrap, JavaScript, Google Colab). Samples of my work are highlighted in the nav bar, along with links on the menu bar to my LinkedIn and GitHub pages.</p>

<p></p>
