@page "/about"

<PageTitle>Hellums World!</PageTitle>

<p>Samples of my work are highlighted in the nav bar, along with links on the menu bar to my LinkedIn and GitHub pages.</p>

<h3><span class="oi oi-heart"></span> My Passion for Coding</h3>
<p>Coding was one of my true "first loves" in school, life, and career. My introduction to programming was on a ridiculously expensive Apple IIe and then a sadly much cheaper Texas Instruments TI-99/4A (oddly <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">Wil Wheaton's favorite</a> also).</p>
<p>As the market for home computers improved, I moved on to programming PCs in Turbo Pascal and C, on the Tandy 1000HX and a 486SX IBM PC.</p>
<p>I programmed in Assembly language on a pair of Burroughs B6x00/7x00 mainframes and a PC emulator that replaced their vintage terminal, punch card reader, and 10" Winchester disks. But the job was mostly C/C++, Turbo Pascal, and 3rd party GUI DLL work on SCO Linux.</p>

<h3><span class="oi oi-code"></span> My "Return to the Matrix"</h3>
<p>
    When my wife (my other love, back in school and now) recently resigned her position as Admissions Manager for some well-deserved time off,
    I saw a good opportunity to step out of my role as Director of IT (Infrastructure & Operations) and join her for a 1-year career break/sabbatical.
</p>
<p>I wanted to refresh my degree somewhat, so I broke out all my programming books and downloaded Visual Studio Code.</p>
<p>
    I soon learned about <a target="_blank" href="https://codelouisville.org">Code Louisville</a> and decided to take some of their Pluralsight video-based, mentor-facilitated classes.
    This included the following:
</p>
<ul>.NET and C#, Python, OOP</ul>
<ul>Data Analysis/Visualization, Jupyter Notebook, MatPlotLib</ul>
<ul>IDEs, Visual Studio and VS Code, IDLE</ul>
<ul>HTML, CSS, Bootstrap</ul>
<ul>Web frameworks (Razor, Blazor/Wasm, Flask/Jinja2)</ul>
<ul>Agile, Kanban</ul>
<ul>Object-oriented SW design principles and patterns (SOLID, DRY, DI)</ul>
<ul>SW architecture patterns (N-Tier, REST API, MVVM, MVC, SOA, Client-server)</ul>
<ul>SaaS (Git, Slack, Google Colab)</ul>
<ul>PaaS (Azure websites, Docker containers), </ul>
<ul>CI/CD pipelines (software, data), DevOps</ul>


<p></p>
