@page "/about"

<PageTitle><strong>Hellums world!</strong></PageTitle>

<h3><span class="oi oi-code"></span> My Fondness for Code</h3>
<p>My into to programming was on a ridiculously expensive Apple IIe and a sadly much cheaper Texas Instruments TI-99/4A. It was one of the first PCs with a 16-bit bus, but a slightly foreshadowing "War Games"-style cassette tape for storage. Wil Wheaton was <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">apparently a big fan of the TI</a> too.</p>
<p>As the market for home computers improved, I moved on to programming PCs in Turbo Pascal and C, starting with the Tandy 1000HX (640K RAM and 2x 3.5" floppies!) and a 486 IBM compatible (with a 105MB Hard Drive!).</p>
<p>I also had the opportunity to program in Assembly language on a pair of Burroughs B6x00/7x00 mainframes. The mainframe had recently received a PC emulator that replaced its vintage punch card reader and 10" Winchester disks. But the job primarily came with lots of C/C++, Turbo Pascal, and 3rd party GUI DLL work on SCO Linux.</p>

<h3><span class="oi oi-heart"></span> My Return to Software Development</h3>
<p>Coding was one of my true "first loves" in school, life, and career. I've spent some years now on the Operations side, wanting more and more to get back on my original Development tack. So, I recently retired from my position as Director of IT, and enrolled in programming classes with <a target="_blank" href="https://codelouisville.org">Code Louisville.</a></p>
<p>I've completed mentor and Pluralsight video-based classes in .NET and C#, Python, OOP, and Data Analysis using VS, VSC, and Jupyter Notebook, with the requisite study of collaboratiion and Web programming frameworks (Slack, Git, Azure, Razor, Blazor, Flask/Jinga, HTML, CSS, Bootstrap, JavaScript, Google Colab). Samples of my work are highlighted in the nav bar, along with links on the menu bar to my LinkedIn and GitHub pages.</p>

<h3><span class="oi oi-person"></span> My Early Years</h3>
<p>Although I've lived in Kentucky for 20 years now, I was born and raised in Texas. My stepdad's oil drilling job took us to Spain, where I learned to program in my High School's first programming class. </p>
<p>When I wasn't in the computer lab, I was writing out code by hand or desk-checking printouts. I planned to go to college and get a Computer Science degree after graduation. Unfortunately, the government took away the scholarship they had promised my veteran father his kids would receive, with virtually no notice.</p>

<h3><span class="oi oi-headphones"></span> My Enlisted Days</h3>
<p>I decided to join the military and "see the world" (or at least more of it). The Air Force sent me to Dallas to take the computer aptitude test, but they slyly rooked me into taking the foreign language test instead, since I knew Spanish already. Can't trust recruiters!</p>
<p>Long story short, while I was in basic training (boot camp) to become a Russian linguist, I received my acceptance letter to the University of New Hampshire. Irony. But soon I would be able say "Здравствуй, Mир" as well as "Hola, Mundo!"</p>

<h3><span class="oi oi-dollar"></span> My "Night School" (and Weekends)</h3>
<p>Over the next 6 years I took a plethora of general education and basic computing classes in the evenings, until I could become a computer science major in earnest. Luckily, we used computers as linguists, so I was also able to carve out some programming projects and eventually part-time and full-time system administrator duties.</p>

<h3><span class="oi oi-tags"></span> My Officer Days</h3> 
<p>After completing my Bachelor's in Europe and Master's degree in the Pacific, I finally got back on track, earning a commission to be a software developer for the next 5 years. Promotions steered me into Project Management and eventually teaching ROTC at University of Kentucky. </p>

<h3><span class="oi oi-cog"></span> My Path in "Higher Ed"</h3>
<p>I had a great software department leadership position lined up at the Commonwealth Office of Technology, but that got put on "indefinite hold" unfortunately, due to "Forgy v. Stumbo" even though I was slotted for a "non-merit" position. C'est la vie!</p>
<p>I instead took an Operations position managing Linux and Windows servers, databases, websites, and email, and eventually the network equipment also. This led to countless growth and learning opportunities, and I continued to lead IT operations teams and master my skills (and theirs) building out and administering applications and the infrastructure it needs to thrive.</p>
<p>And that's me, in a nutshell!</p>

<p></p>
