@page "/about"

<PageTitle>Hellums world!</PageTitle>

<h2>Growing Up</h2>

<p>I've lived in Kentucky for 20 years now, but was born and raised in Texas. I learned to program in my High School's first programming class, and planned to go to college and get a Computer Science degree after graduation. </p>
<p>
    Unfortunately, the government took away the scholarship they had promised my veteran father his kids would receive, with virtually no notice.
    The Air Force sent me to Dallas to take the computer aptitude test, but they slyly rooked me into taking the foreign language test instead, since I knew Spanish already.
</p>
<p> Long story short, while I was in basic training (boot camp) to become a Russian linguist, I received my acceptance letter to the University of New Hampshire. Irony.</p>
<h2>Military and College Years</h2>
<p>Over the next 6 years I took a plethora of general education and basic computing classes in the evenings, until I could become a computer science major in earnest. Luckily, we used computers as linguists, so I was also able to carve out some programming projects and eventually part-time and full-time system administrator duties.</p>
<p>After completing my Bachelor's in Eurpoe and Master's degree in the Pacific, I received a commission to be a software developer for the next 5 years until promotions steered me into Project Management and teaching ROTC at University of Kentucky. </p>
<h2>Higher Education Career</h2>
<p>I had a great software department leadership position lined up at the Commonwealth Office of Technology, but that got sidetracked unfortunately, due to "Forgy v. Stumbo" even though I was slotted for a non-merit position. C'est la vie!</p>
<p>I took an Operations position managing Linux and Windows servers, databases, websites, and email, and eventually the network equipment also. This led to countless learning opportunities, and I spent another long stretch in system administration and management, on the fringes of and just outside the realm of software development, before deciding to get back on my original tack. I retired from my position as Director of IT, and enrolled in software development classes with <a target="_blank" href="https://codelouisville.org">Code Louisville.</a></p>
<p></p>
<h2>Fond Memories</h2>

<p>
    My earliest programming was on a ridiculously expensive Apple IIe and a sadly much cheaper Texas Instruments TI-99/4A (one of the first with a 16-bit bus, but a slightly foreshadowing "War Games"-style cassette tape for storage). Wil Wheaton was <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">apparently a big fan of the TI</a> too.
</p>
<p>As the market for home computers improved, I moved on to programming PCs in Turbo Pascal and C, starting with the Tandy 1000HX (640K RAM and 2x 3.5" floppies!) and a 486 IBM compatible (with a 105MB Hard Drive!).</p>

<p>
    I also had the opportunity to program in Assembly language on a pair of Burroughs B6x00/7x00 mainframes.
    The mainframe had recently received a PC emulator that replaced its vintage punch card reader and 10" Winchester disks. But the job primarily came with lots of C/C++, Turbo Pascal, and 3rd party GUI DLL work on SCO Linux.
</p>
<p></p>
