@page "/academics"

<PageTitle>Class Projects</PageTitle>

<center><h1>Class Projects</h1></center>

<p>The following are software development projects I've designed and built from scratch for college classes over the years:</p>
<br />

<ul>
    <li>Web publishing of ePortfolio (C#/.NET) and baking application (Blazor component, Razor API, MVC console)</li>
    <li>IMDB movie database analysis, browser-based and console versions (Python, Flash, Jupyter Notebook)</li>
    <li>US Nursing career outlook data analysis and web scraping/ETL (Tableau, Jupyter Notebook, Python)</li>
    <li>Ceridian ITSM Helpdesk application (Access database and UI)</li>
    <li>Pensacola Naval Station ITSM Helpdesk application (Access database and UI)</li>
    <li>Military intelligence unit personnel management system and database (dBaseIII)</li>
    <li>Military intelligence unit cyrillic/translit document conversion (C/C++)</li>
    <li>Military intelligence unit variable speed Morse code generator (C, Turbo Pascal)</li>
</ul>
