@page "/background"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello Again, World!</h1>
<hr />

<h3><span class="oi oi-person"></span> My Early Years</h3>
<p>Although I've lived in Kentucky for 20 years now, I was born and raised in Texas. My stepdad's oil drilling job took us to Spain, where I learned to program in my High School's first programming class. </p>
<p>When I wasn't in the computer lab, I was writing out code by hand or desk-checking printouts, even on camping trips with my future wife. I planned to go to college and get a Computer Science degree after graduation. Unfortunately, with virtually no notice the government took away the scholarship they had promised my veteran father his kids would receive.</p>

<h3><span class="oi oi-headphones"></span> My Enlisted Days</h3>
<p>I decided to join the military at 18 (my Dad enlisted at 13!) and "see the world," or at least more of it.</p>
<p>The Air Force sent me to Dallas to take the computer aptitude test, but they slyly rooked me into taking the foreign language test instead, since I already knew Spanish. Can't trust recruiters!</p>
<p>Long story short, while I was in basic training (boot camp) to become a Russian linguist, I received my acceptance letter to the University of New Hampshire. Irony. But soon I would be able say "Здравствуй, Mир" as well as "Hola, Mundo!"</p>

<h3><span class="oi oi-dollar"></span> My "Night School" (and Weekends)</h3>
<p>Over the next 6 years I took a plethora of general education and basic computing classes, until I could become a computer science major in earnest. Luckily, we used computers and databases as linguists, so I found many programming projects and eventually part-time and full-time system administrator duties.</p>

<h3><span class="oi oi-tags"></span> My Officer Days</h3> 
<p>After completing my Bachelor's in Europe and Master's degree in the Pacific, I earned a commission as a software developer for the next 5 years. Promotions steered me into Project Management and eventually teaching ROTC at University of Kentucky. </p>

<h3><span class="oi oi-cog"></span> My Path in "Higher Ed"</h3>
<p>A Commonwealth Office of Technology position was put on "indefinite hold" thanks to "Forgy v. Stumbo." C'est la vie, I guess!</p>
<p>So, I opted to take an Operations position managing Linux and Windows servers, applications, websites, databases, and email, and eventually the network equipment also. I've since led several IT Operations and Support teams, and mastered my skills (and theirs) building out and administering enterprise applications and infrastructure.</p>
<p>And that's essentially me, in a nutshell!</p>

<p></p>
