@page "/background"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello Again, World!</h1>
<hr />

<h3><span class="oi oi-code"></span> My Roots</h3>
<p>I've lived in Kentucky for 20 years now, but was born and raised in Texas, before moving to Spain and taking my first programming class ("Hola, Mundo").</p> 

<h3><span class="oi oi-tags"></span> My Officer Days</h3>
<p>While working on my computer science degree(s), I wrote console programs, tools, and utilities as a system administrator, then worked on a 12-member team for four years as an Air Force lead software developer, configuration manager, and PM.</p>
<p>I was responsible for the SDLC and semi-annual development, version control, build/make, test (unit, system, integration, IV&V, UA), distribution, release, and maintenance/support of C/C++ Unix desktop and mainframe software for a nuclear command and control (messaging) system used by the Joint Staff and nuclear commanders. If you saw the movie Crimson Tide, this is the system that created and transmitted the "EAMs" you saw the submarine Captains receiving and decoding.</p>

<h3><span class="oi oi-cog"></span> My "Return to the Matrix"</h3>
<p>I worked operations at Georgetown College as a system administrator of Linux and Windows servers, applications, websites, databases, email, and eventually the entire network.</p>
<p>I was recruited from there to Galen College of Nursing, where I continuously improved Operations and led, mentored, and grew the engineering and support team from 6 to 17, while building out networks and IT on 8 new campuses and virtualizing storage and compute for applications in our data center, as well as our network and phone services (SDWAN and VOIP). </p>

<p>And now I'm shifting my focus back to software/SDLC and even devops.</p>

<p></p>
