@page "/background"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello Again, World!</h1>
<hr />

<h3><span class="oi oi-person"></span> My Early Years</h3>
<p>Although I've lived in Kentucky for 20 years now, I was born and raised in Texas. My stepdad's oil drilling job took us to Spain, where I learned to program in my High School's first programming class. </p>
<p>When I wasn't in the computer lab, I was writing out code by hand or desk-checking printouts, even on camping trips with my future wife. I planned to go to college and get a Computer Science degree after graduation.</p>
<p>Unfortunately, and with virtually no notice, the government took away the scholarship they had promised my veteran father his kids would receive. So college wasn't in my immediate future.</p>

<h3><span class="oi oi-headphones"></span> My Enlisted Days</h3>
<p>Unlike my dad, who enlisted in the Army at 13, I decided to join the Air Force at 18 and "see the world," or at least more of it. The Air Force recruiter sent me to Dallas to take the computer aptitude test, but they slyly rooked me into taking the foreign language test instead, since I already knew Spanish. Can't trust recruiters!</p>
<p>Long story short, while I was in basic training (boot camp) to become a Russian linguist, I received my acceptance letter to the University of New Hampshire. Irony. But soon I would be able say "Здравствуй, Mир" as well as "Hola, Mundo!"</p>

<h3><span class="oi oi-dollar"></span> My "Night School" (and Weekends)</h3>
<p>Over the next 6 years I took a plethora of general education and basic computing classes, until I could become a computer science major in earnest. Luckily, we used computers and databases as linguists, so I found many programming projects and eventually part-time and full-time system administrator duties.</p>

<h3><span class="oi oi-tags"></span> My Officer Days</h3> 
<p>After completing my Bachelor's in Europe and Master's degree in the Pacific, I traded in my Master Sergeant stripes for a "gold bar" with a commission to become a software developer for the next 5 years. I loved coding, and a promotion to Captain steered me into Software Project Management and eventually teaching ROTC at University of Kentucky.</p>

<h3><span class="oi oi-cog"></span> My Path in "Higher Ed"</h3>
<p>Transitioning from the military, I had a lock on a Commonwealth Office of Technology position, but it was put on "indefinite hold" thanks to "Forgy v. Stumbo."</p>
<p>I waited a short while, but eventually opted to take a college Operations position managing Linux and Windows servers, applications, websites, databases, and email, and eventually the network equipment also.</p>
<p>I've since led several college IT Operations and Support teams, and mastered my skills (and theirs) building out and administering enterprise applications and infrastructure.</p>
<p>And that's essentially me, in a nutshell!</p>

<p></p>
