@page "/background"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello Again, World!</h1>
<hr />
<h3><span class="oi oi-heart"></span> My Passion for Software Development</h3>
<p>Code was one of my true "first loves" in school, life, and career. My introduction to monolithic, functional programming was on a ridiculously expensive Apple IIe and then a sadly much cheaper Texas Instruments TI-99/4A (oddly <a target="_blank" href="https://wilwheaton.net/2015/09/hello-world/">Wil Wheaton's favorite</a> also). College brought modular, procedural programming on PCs in Turbo Pascal and C, which I leveraged at work for tool and utility programming.</p>
<p>I programmed professionally in C/C++, Turbo Pascal, 3rd party GUI DLL on SCO Linux, and Assembly language on a clustered pair of Burroughs B6x00/7x00 mainframes. Each of those had a PC emulator that replaced their vintage terminal, punch card reader, and 14-inch Winchester disks. </p>

<h3><span class="oi oi-code"></span> My "Return to the Matrix"</h3>
<p>They say if you do what you love, you'll never work a day in your life. And I've always loved working on software. So, when my wife (my other love, back then in school and now) recently resigned her position as Admissions Manager for some well-deserved time off, I also stepped out of my role as Director of IT (Infrastructure & Operations) also, and join her for a "Back to School" career break/sabbatical and some travel.</p>
<p>I wanted to boost my web, Agile, and object-oriented skills. So, I downloaded Visual Studio Code, and hit the Web! I soon learned about <a target="_blank" href="https://codelouisville.org">Code Louisville</a> and decided to take some of their Pluralsight video-based, mentor-facilitated classes on the following:</p>
<ul>
    <li>C#, ASP.NET Core and Framework, Python</li>
    <li>Object-oriented SW design principles and patterns (DRY, SOLID, DI, DAMP)</li>
    <li>Data Analysis/Visualization</li>
    <li>IDEs, Visual Studio and VS Code, IDLE</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>Web frameworks (Blazor, WebAssembly SPA, Flask)</li>
    <li>Agile, Kanban</li>
    <li>SW architecture patterns (N-Tier, REST API, MVVM, MVC)</li>
    <li>Git, Slack, Google Colab</li>
    <li>Azure websites, Docker containers</li>
    <li>DevOps, CI/CD pipelines (software, data)</li>
</ul>

<h3><span class="oi oi-person"></span> My Early Years</h3>
<p>I've lived in Kentucky for 20 years now, but was born and raised in Texas. Ended up in Spain, where I learned to program in my High School's first programming class. </p>
<p>I was habitually in the computer lab or debugging code printouts, even on camping trips with my future wife. I planned to go to college and get a Computer Science degree, but the government took away the scholarship they had promised my veteran father his kids would receive.</p>

<h3><span class="oi oi-headphones"></span> My Enlisted Days</h3>
<p>So, unlike my dad, who enlisted in the Army at 13, I decided to join the Air Force at 18 and "see the world" like my pilot uncle did. Then the recruiters rooked me into taking the foreign language test instead, and before long I was in basic training (boot camp) when I received my acceptance letter to the University of New Hampshire. Irony. But soon I would be able say "Здравствуй, Mир" as well as "Hola, Mundo!"</p>

<h3><span class="oi oi-dollar"></span> My "Night School" (and Weekends)</h3>
<p>Over the next 6 years I took Gen Ed and C/Unix programming classes as a computer science major. Luckily, we used computers and databases as linguists, so I found many programming projects and eventually part-time and full-time system administrator duties.</p>

<h3><span class="oi oi-tags"></span> My Officer Days</h3> 
<p>After completing my Bachelor's in Europe and Master's degree in the Pacific, I traded in my Master Sergeant stripes for a "gold bar" with a commission to become a software developer for the next 5 years. I loved coding, and promotions steered me into SDLC management positions (Lead Programmer, Configuration Manager, Software PM) before moving to University of Kentucky to teach ROTC cadets.</p>

<h3><span class="oi oi-cog"></span> My Path in "Higher Ed"</h3>
<p>I had offers for a department head position at Commonwealth Office of Technology in Frankfort and a configuration manager position at Amazon, but decided on a college IT Operations position managing Linux and Windows servers, applications, websites, databases, email, and eventually the entire network.</p>
<p>I was recruited from there to Galen College of Nursing, where I continuously improved Operations and led, mentored, and grew the team from 6 to 17, while building out networks and IT on 8 new campuses. And that's essentially me, in a nutshell!</p>

<p></p>
