@page "/bakerspercentage"

<h1>Baker's Percentage</h1>

<p>In progress... This program takes desired weight of dough in as a parameter, and calculates the amount of each ingredient needed, based on the type of bread the user wants to bake, and how much.</p>

<p></p>

@code {

}
