@page "/bakerspercentageConsole"

<center><h1>Baker's Percentage Console App</h1></center>
<p></p>
This <a target="_blank" href="https://github.com/hellums/bakers">repo</a> contains the console app version of my "Baker's Percentage" " Blazor Web and API app. It calculates total amount of ingredients needed for different types of bread, based on target dough weight (vs. volume, for more consistent results). Features to be added include:
<p></p>
<ul>
    <li>
        Conversion to imperial measurements
    </li>
    <li>
        Preferment options (Biga 2:1 or Poolish 1:1 ratios)
    </li>
</ul>

<img src="images/output.jpg" alt="screen capture of console application" width="400" />

<p></p>
