@page "/bakerspercentageAPI"

<center><h1>Baker's Percentage API (MVP)</h1></center>
<p></p>
This open API calculates the amount of ingredients (by weight) needed, based on desired amount of dough and bread type. Both parameters are entered in the URL.<p></p>

Instructions are at this endpoint: <a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/api">https://hellums-bakersapi.azurewebsites.net/api</a><p></p>

To see ingredients needed for 575 grams of white sandwich loaf (one pan):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/type/sandwich/weight/575">https://hellums-bakersapi.azurewebsites.net/type/sandwich/weight/575</a><p></p>

To see ingredients needed for 680 grams of pizza dough (2 x 12" crusts, 1 oz or 28.35 grams per inch of total diameter):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/type/pizza/weight/680">https://hellums-bakersapi.azurewebsites.net/type/pizza/weight/680</a><p></p>

To see ingredients needed for 900 grams of ciabatta (2 typical loaves):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/type/ciabatta/weight/900">https://hellums-bakersapi.azurewebsites.net/type/ciabatta/weight/900</a><p></p>
