@page "/bakerspercentage"

<h1>Baker's Percentage</h1>

<p role="status">Target weight: @currentWeight</p>
<button class="btn btn-primary" @onclick="DecrementCount">Less</button>
<button class="btn btn-primary" @onclick="ResetWeight">Reset</button>
<button class="btn btn-primary" @onclick="IncrementCount">More</button>
<p></p>
<p>Flour total: @totalFlour</p>

@code {
    public int currentWeight = 900;
    public float totalFlour = 585;
    
    public void IncrementCount()
    {    
        currentWeight += 10;
        totalFlour = (currentWeight * .65F);
    }
    public void DecrementCount()
    {
        currentWeight -= 10;
        totalFlour = (currentWeight * .65F);
    }

    public void ResetWeight()
    {    
        currentWeight = 900;
        totalFlour = (currentWeight * .65F);
        //uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }
    
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? title { get; set; }

}