@page "/bakerspercentageConsole"

<center><h1>Baker's Percentage Console App</h1></center>
<p></p>
This is a <a target="_blank" href="https://github.com/hellums/bakers">console app version</a> of my "Baker's Percentage" program. Future enhancements include:
<p></p>
<ul>
    <li>
        Conversion to imperial measurements
    </li>
    <li>
        Preferment options (Biga 2:1 or Poolish 1:1 ratios)
    </li>
</ul>

<img src="images/output.jpg" alt="screen capture of console application" width="400" />

<p></p>