@page "/bakerspercentageAPI"

<center><h1>Baker's Percentage API</h1></center>
<p></p>
This <a target="_blank" href="https://github.com/hellums/BakersAPI">repo</a> contain an API that is hosted on Azure Websites and calculates the amount of ingredients (by weight) needed, based on desired amount of dough and bread type. Both parameters are entered in the URL endpoint. Features to be added include:
<p></p>
<ul>
    <li>
        OpenAPI-style instructions
    </li>
    <li>
        URL parameters vs paths
    </li>
</ul>
<p></p>

Instructions are at this endpoint: <a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/api">https://hellums-bakersapi.azurewebsites.net/api</a><p></p>

To see ingredients needed for 575 grams of white sandwich loaf (one pan):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/api/sandwich/575">https://hellums-bakersapi.azurewebsites.net/api/sandwich/575</a><p></p>

To see ingredients needed for 680 grams of pizza dough (2 x 12" crusts, 1 oz or 28.35 grams per inch of total diameter):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/api/pizza/680">https://hellums-bakersapi.azurewebsites.net/api/pizza/680</a><p></p>

To see ingredients needed for 900 grams of ciabatta (2 typical loaves):<p></p>

<a target="_blank" href="https://hellums-bakersapi.azurewebsites.net/api/ciabatta/900">https://hellums-bakersapi.azurewebsites.net/api/ciabatta/900</a><p></p>
