@page "/bakerspercentageConsole"

<center><h1>Baker's Percentage Console App (MVP)</h1></center>
<p></p>
This is the MVC interface-based console app version of my Baker's Percentage Blazor component and API. The console app calculates total amount of ingredients needed for different types of bread, based on target weight of dough (vs. volume, for more consistent results). It uses "Baker's Percentage" for each available bread type, where each ingredient is calculated as a percentage of the total Flour. Bread model classes are derivative of the base model class and methods, with polymorphic properties for individual ingredient percentages. Features to be added include:
<p></p>
<ul>
    <li>
        Conversion to imperial measurements
    </li>
    <li>
        Preferment options (Biga 2:1 or Poolish 1:1 ratios)
    </li>
</ul>

<img src="images/output.jpg" alt="screen capture of console application" width="400" />

<p></p>
