@page "/bakerspercentage"

<center><h1>Baker's Percentage</h1></center>

<p role="status">Target weight: @currentWeight</p>
<button class="btn btn-primary" @onclick="DecrementCount">Less</button>
<button class="btn btn-primary" @onclick="ResetWeight">Reset</button>
<button class="btn btn-primary" @onclick="IncrementCount">More</button>
<p></p>

<p>Flour total: @totalFlour</p>
<label for="breadType">Bread Type</label>
<select class="form-select-sm" @onchange="ChangeFlour">
    <option selected disabled value="" id="breadType">Choose Bread Type </option>
    <option value="Ciabatta">Ciabatta</option>
    <option value="Focaccia">Focaccia</option>
    <option value="Sandwich">Sandwich</option>
    <option value="Buns">Buns</option>
    <option value="Pizza">Pizza</option>
    <option value="Country">Country</option>
</select>
<p></p>
<p>Bread type: @breadType</p>

@code {
    public int currentWeight = 900;
    public float totalFlour = 585;
    public string breadType = "";

    public void IncrementCount()
    {
        currentWeight += 10;
        totalFlour = (currentWeight * .65F);
    }
    public void DecrementCount()
    {
        currentWeight -= 10;
        totalFlour = (currentWeight * .65F);
    }

    public void ResetWeight()
    {
        currentWeight = 900;
        totalFlour = (currentWeight * .65F);
        //uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

    public void ChangeFlour(ChangeEventArgs e)
    {
        string SelectedBread = e.Value.ToString();
        switch (SelectedBread)
        {
            case "Focaccia":
                // Use the text block below to separate html elements from code
                totalFlour = (totalFlour * .5F);
                break;  // Always break each case
            case "Ciabatta":
                totalFlour = (totalFlour * .1F);
                break;
            default:
                break;
        }

        //uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? title { get; set; }

}