@page "/"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello World!</h1>
<p>As the common programmer saying goes, anyway. Or at least my corner of it, AKA Hellums World!</p>

@*<hr />*@

<About />
