@page "/"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello World!</h1>

<p>Welcome to my ePortfolio.</p> 

<p>Samples and details of my work are highlighted in the nav menu, and I've included links to my <a target="_blank" href="https://github.com/hellums">GitHub</a>, <a target="_blank" href="https://hub.docker.com/u/hellums">DockerHub</a>, and <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> pages.</p>

<hr />
<center><h1>2022 Technology Focus</h1></center>
<p></p>
<ul>
    <li>IDEs, Visual Studio and VS Code, IDLE</li>
    <li>C#, .NET Core, Python, OOP, Unit Testing, Agile</li>
    <li>Git, Github, Pull Request, Feature Branch Workflow</li>
    <li>Github Actions, Azure Web App CI/CD pipeline</li>
    <li>Containers, Docker, Docker Hub, venv</li>
    <li>EF Core, LINQ, SQLite, SQL Server, MongoDB</li>
    <li>JSON, httpclient, Swashbuckle/Swagger, Postman</li>
    <li>Service and model injection Repository and factory patterns</li>  
    <li>API, MVC, SPA with Blazor WebAssembly SPA, server-side Razor, Flask</li>
    <li>SOLID, Separation of Concerns, Framework DI, Services, IOC, Interfaces, cohesion/coupling</li>
    <li>HTML, CSS, Bootstrap, Javascript, Wireframe</li>
    <li>Data Analysis, Visualization, Jupyter Notebook, Tableau</li>
</ul>

