@page "/"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello World!</h1>
<p>Welcome to my ePortfolio of software development.</p>
<p>I've worked in Higher Ed IT Operations and Infrastructure for 15+ years. On the software side, I worked for 4 years on a 12-member team as an Air Force lead software developer, configuration manager, and PM, handling the SDLC and semi-annual development, version control, build/make, test (unit, system, integration, IV&V, UA), distribution, release, and maintenance/support of desktop and mainframe software for a nuclear command and control (messaging) system.</p>
<p>Prior to that, I developed and maintained command-line utilities, tools, and programs for teams of linguists, intelligence analysts, and system administrators.</p>

@*<hr />*@

<Bootcamp />
