@page "/"

<PageTitle>Hellums World!</PageTitle>

<h1><span class="oi oi-globe"></span> Hello World!</h1>

<p>Welcome to my ePortfolio.</p> 

<p>It includes individual, custom project work from <a target="_blank" href="https://www.codelouisville.org">Code Louisville</a> courses on Data Analysis and software development in C# and Python, and will continue to evolve with its own active SDLC.</p>

<p>Samples and details of my work are highlighted in the nav menu, and I've included links to my <a target="_blank" href="https://github.com/hellums">GitHub</a>, <a target="_blank" href="https://hub.docker.com/u/hellums">DockerHub</a>, and <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> pages.</p>

<hr />
<center><h1>2022 Technology Focus</h1></center>
<p></p>
<ul>
    <li>C#, .NET Core, Python, OOP, Unit Testing, Agile</li>
    <li>Git, Github, Feature Branch Workflow, PR</li>
    <li>Github Actions, Azure Web App CI/CD pipeline</li>
    <li>Containers, Docker, Docker Hub</li>
    <li>Entity Framework, LINQ, SQLite, SQL Server, MongoDB</li>
    <li>IDEs, Visual Studio and VS Code, IDLE</li>
    <li>Separation of Concerns, Interfaces, MVC</li>
    <li>Web frameworks (Razor, Blazor, WebAssembly SPA, API, Flask)</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>Data Analysis, Visualization, Jupyter Notebook, Tableau</li>
</ul>

