@page "/miscellaneous"

<h3>Miscellaneous Projects</h3>

The following are software projects I worked on over the years, professionally or as part of an academic or personal project.

    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>App/System</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>UK Air Force ROTC</td>
                <td>Personnel Management</td>
                <td>Access</td>
            </tr>
            <tr>
                <td>Air Force Software Factory</td>
                <td>IEMATS Nuclear C2 Comms</td>
                <td>C, 3rd party DLLs, shell</td>
            </tr>
            <tr>
                <td>Air Force Software Factory</td>
                <td>Network Circuit Tracking</td>
                <td>Access</td>
            </tr>
            <tr>
                <td>US Navy Pensacola</td>
                <td>ITSM, Helpdesk</td>
                <td>Access</td>
            </tr>
            <tr>
                <td>Ceridian Hawaii</td>
                <td>ITSM, Helpdesk</td>
                <td>Access</td>
            </tr>
            <tr>
                <td>US Air Force KRSOC</td>
                <td>Linguist Utilities</td>
                <td>C, shell</td>
            </tr>
            <tr>
                <td>US Air Force KRSOC</td>
                <td>Production Analytics, DCS</td>
                <td>C, shell</td>
            </tr>
            <tr>
                <td>UK Air Force Italy</td>
                <td>Personnel Management</td>
                <td>DBIII</td>
            </tr>
            <tr>
                <td>US Air Force Italy</td>
                <td>Cyrillic-Translit converter</td>
                <td>ANSI C</td>
            </tr>
            <tr>
                <td>US Air Force Italy</td>
                <td>Morse Code Ops Testing</td>
                <td>ANSI C</td>
            </tr>
            <tr>
                <td>Personal</td>
                <td>Cyrillic Word Processor</td>
                <td>TI BASIC</td>
            </tr>
            <tr>
                <td>Personal</td>
                <td>School Library DBMS</td>
                <td>Apple BASIC</td>
            </tr>
        </tbody>
    </table>


@code {

}
