@page "/Portfolio"

<h1>ePortfolio</h1>

<p></p>
<p>This ePortfolio itself was written in C# and Blazor WebAssembly to create a personal ePortfolio of pages and components representing my body of software development work (professional, academic, and personal).</p>
<p>This ePortfolio constitutes a wrapper for a deliverable project (a Baker's Percentage Engine) that is part of a Code Louisville bootcamp on C# and object-oriented programming.</p> 
<p>It includes work from additional bootcamps on Python and Data Analysis, and will remain as a living document, app, and repository with its own SDLC.</p>
<p>Why Blazor? Blazor was chosen because it has several advantages for a project like this:</p>

<ul>
    <li>A Blazor app leverages the newest WebAssembly (Wasm) standard, as well as fundamental HTML, CSS, Bootstrap, and Javascript</li>
    <li>A Blazor app profides a Full Stack open web development framework for C# (vs Javascript's Angular, Vue, and React, or Python's Django/Flask)</li>
    <li>A Blazor app is new and fresh and shiny, from a technology and software development perspective</li>
    <li>A Blazor ePortfolio serves a valid business need for me personally</li>
    <li>A Blazor ePortfolio can be delivered from anywhere, including CDNs, without the need for a complicated backend stack</li>
    <li>A Blazor ePortfolio is a more user-friendly interface, as an SPA, (with less "noise") than Github</li>
    <li>A Blazor ePortfolio can easily be decoupled from Github or a .NET server</li>
    <li>A Blazor ePortfolio and the underlying C# project satisfy the course requirements of the bootcamp</li>
</ul>
<hr />

@code {

}
