@page "/Portfolio"

<center><h1>ePortfolio</h1></center>

<p></p>
<p>This <a target="_blank" href="https://github.com/hellums/ePortfolio">repo</a> was written in C# and Blazor WebAssembly to create a personal ePortfolio of pages and components representing my body of software development work (professional, academic, and personal).</p>
<p></p>
<p>It includes work from <a target="_blank" href="https://www.codelouisville.org">Code Louisville</a> bootcamps on C#, Python and Data Analysis, and will continue to evolve with its own active SDLC.</p>

