@page "/PrintWorthy"

<center><h1>PrintWorthy (Bookmarks)</h1></center>

<p>The <a target="_blank" href="https://hellums-printworthy.azurewebsites.net">Printworthy project</a> (login required) involves a simple reference database of books, articles, and blog posts related to software development. Features to be added include:</p>
<p></p>

<ul>
    <li>Role-based permissions, viewer and contributor (or administrator)</li>
    <li>Multiple categories in MongoDB</li>
    <li>Titles converted to URLs for improved display</li>
    <li>End-to-end bUnit tests against web pages and MongoDB queries</li>
</ul>

<a target="_blank" href="https://hellums-printworthy.azurewebsites.net"><img src="images/printworthy.jpg" alt="image of CRUD application" width="400"/></a>
<p></p>

Technologies used:    
<p></p>
<ul>
    <li>C# Blazor server app</li>
    <li>Cloud-hosted Azure App</li>
    <li>MongoDB driver</li>
    <li>Cloud-hosted MongoDB Atlas database collections</li>
    <li>Azure AD authentication, MongoDB 24-member ACL list</li>
</ul>