@page "/PrintWorthy"

<center><h1>PrintWorthy (MVP)</h1></center>

<p></p>
<p>The <a target="_blank" href="https://hellums-printworthy.azurewebsites.net">PrintWorthy Project</a> involves a simple reference database of books, articles, and blog posts related to software development.
    
<ul>
    <li>C# Blazor server app</li>
    <li>Cloud-hosted Azure App</li>
    <li>MongoDB driver</li>
    <li>Cloud-hosted Mongo database, collections</li>
    <li>24-member ACL list</li>
</ul>
</p>