@page "/PrintWorthy"

<center><h1>PrintWorthy (MVP)</h1></center>

<p>The Printworthy project (login required) involves a simple reference database of books, articles, and blog posts related to software development.</p>
<p></p>
<a target="_blank" href="https://hellums-printworthy.azurewebsites.net"><img src="images/printworthy.jpg" alt="image of CRUD application" width="400"/></a>
<p></p>
    
<ul>
    <li>C# Blazor server app</li>
    <li>Cloud-hosted Azure App</li>
    <li>MongoDB driver</li>
    <li>Cloud-hosted MongoDB Atlas database collections</li>
    <li>Azure AD authentication, MongoDB 24-member ACL list</li>
</ul>