@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<center><h1>Past Projects</h1></center>

The following are software projects I worked on over the years, professionally or as part of an academic or personal project.

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>App/System</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Project in projects)
            {
                <tr>
                    <td>@Project.Customer</td>
                    <td><div title=@Project.Detail>@Project.System</div></td>
                    <td>@Project.Language</td>
                </tr>
            }
        </tbody>
    </table>
}