@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<center><h1>Work Projects</h1></center>

<p>The following are software dev and maintenance projects I worked on professionally over the years.</p>
<br />

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>App, FTE duration</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Project in projects)
            {
                <tr>
                    <td>@Project.Customer</td>
                    <td><div title=@Project.Detail>@Project.System</div></td>
                    <td>@Project.Language</td>
                </tr>
            }
        </tbody>
    </table>
}