@page "/resume"
<PageTitle>Resumé</PageTitle>

<style>
    img 
    {
        width: 100%;
        border: 0;
    }
</style>
<center><h1>My Resumé</h1></center>
<p></p>
<center><img src="images/Hellums Resume SWE 1.jpg" class="img-fluid" alt="Resume Page 1" /></center>
<center><img src="images/Hellums Resume SWE 2.jpg" class="img-fluid" alt="Resume Page 2" /></center>
<center><img src="images/Hellums Resume SWE 3.jpg" class="img-fluid" alt="Resume Page 3" /></center>
<p></p>
