@page "/resume"
<PageTitle>Resumé</PageTitle>

<style>
    img 
    {
        width: 100%;
        border: 0;
    }
</style>
<center><h1>My Resumé</h1></center>
<p></p>
<p>Please <a target="_blank" href="images/hellums_swe_resume_2022.pdf">click here</a> to load a PDF version of my resume in a separate browser tab.</p>

<br />
<hr />
<p><center><h2>Additional Information (from my CV):</h2></center></p>

<p><strong>Academic Degrees</strong></p>
<ul>
    <li>M.S. in Information Systems, 4.0 GPA with Distinction, Hawaii Pacific University, 1996</li>
    <li>B.A. in CIS Management/Russian, 3.7 GPA with Honors (3.97 CIS core), University of Maryland, 1994</li>
    <li>A.A. in Computer Studies, University of Maryland, 1994</li>
    <li>A.A.S. in Communications Application Technology, Community College of the Air Force, 1993</li>
</ul>

<p><strong>Certifications and Continuing Education</strong></p>

<ul>
    <li>Code Louisville, Certificates in C#, Python, and Data Analysis, 2022</li>
    <li>PMI, Project Management Professional (#2052521), Jul 2017 - Jul 2023</li>
    <li>CompTIA, Security+ (#GBZVY2SMRDR1Q753), Mar 2019 - Mar 2022</li>
    <li>AVIXA, Certified Technology Specialist (AV), Oct 2019 - Oct 2022</li>
    <li>USAF Institute of Technology, Software Professional Development Program, 2003-2005</li>
    <ul>
        <li>Certificate in Software Engineering Management (32 CE credits)</li>
        <li>Certificate in Software Lifecycle Development (64 CE credits)</li>
        <li>Fundamentals of Object-Oriented Systems (16 CE credits)</li>
    </ul>
    <li>Univ. of Kentucky, C++ Object-Oriented Programming, German Language, Film Analysis, Video Production, 2003-2004</li>
</ul>

<p><strong>Book Citations</strong></p>
<ul>
    <li>Hellums, Duane B. et al.  (1999).  <i>Red Hat Linux Installation and Configuration Handbook.</i> QUE Publishing. All chapters, except Alpha/Mac and card/device drivers. ISBN: 0789721813</li>
    <li>Stanek, William R., Hellums, Duane B., et al.  (1999)  <i>Microsoft Frontpage 2000 Unleashed.</i> SAMS Publishing. Chapters on Linux integration and server extension administration. ISBN: 0672316757</li>
    <li>Stanek, William R., Hellums, Duane B., et al.  (2001)  <i>Microsoft FrontPage 2002 Unleashed.</i> SAMS Publishing. ISBN: 0672322056</li>
</ul>

<p><strong>Publication and Presentation Citations</strong></p>

<ul>
    <li>Hellums, Duane B.  (2009).  <i>High Performance Computing Cluster (HPCC) in a SAN-based Virtualized Environment.</i>  2009 IT Symposium of the Association of Independent Kentucky Colleges and Universities (AIKCU), at Bellarmine University.</li>

    <li>Hyndman, Steve and Hellums, Duane B.  (2009).  <i>Moodle Learning Management System (LMS) Implementation Issues, Opportunities, and Challenges.</i>  2009 IT Symposium of the Association of Independent Kentucky Colleges and Universities (AIKCU), at Bellarmine University.</li>
    <li>Hellums, Duane B.  (2006).  <i>Entry-Level iSCSI Storage Area Networks (SANs).</i>  2007 IT Symposium of the Association of Independent Kentucky Colleges and Universities (AIKCU), at Bellarmine University.</li>
    <li>
        Hellums, Duane B.  (2001).  <i>Maturing from CBT to WBT in an ADL and SCORM Environment.</i>  2001 Interservice/Industry Training, Simulation & Education Conference (I/ITSEC) and Plugfest 5, paper and slide presentation.  ADL Plugfest 5, Orlando FL.
    </li>
    <li>
        Hellums, Duane B.  (2001).  <i>SCORM-Conformant Content (Air Command and Staff College).</i>  ADL Plugfest 4, Alexandria, VA.  Slide presentation, and sample courseware modules.
    </li>
    <li>Dr. Margaret E. Halloran et al.  (2001).  <i>The Impact of the DoD Mobile Code Policy on Advanced Distributed Learning, Web-based Distance Learning, and other Educational Missions.</i>  US Air Force Academy and Joint CoLab study, test environment, and paper/report.</li>
    <li>Hellums, Duane B.  (2000).  <i>Draft ADL Guidance (for USAF Web-based Training Principals).</i>  Electronically distributed on AFIADL policy website.</li>
    <li>Stanek, William R. and Hellums, Duane B.  (2000).  Microsoft-contract for Competitive White Papers (vs Sun Systems, Unixware, SCO Unix)</li>
    <li>Hellums, Duane B.  (1999).  (Book Review) <i>The Linux Network, by Butzen, Fred and Hilton, Christopher.</i>  Linux Journal, June 1999</li>
    <li>Hellums, Duane B.  (1999).  (Book Review) <i>Red Hat LINUX Secrets, Second Edition, by Naba Barkakati.</i> Linux Journal, March 1999</li>
    <li>Hellums, Duane B.  (1996).  (MSIS Technical Paper) <i>Developing Effective Electronic Communications Support System (ECSS) Channels.</i></li>
</ul>

<p><strong>Teaching Experience</strong></p>

<ul>
    <li>Adjunct Faculty, Computer Science, Georgetown College, 2006-2010</li>
<ul>
        <li>CSC 405 – Database Systems</li>
        <li>CSC 470 – Computer Networking and Data Telecommunications</li>
</ul>
        <li>Assistant Professor, Aerospace Studies, University of Kentucky, 2002-2005</li>
<ul>
        <li>AFS 401 – National Security Studies and Prep. for Active Duty, Fall (all three years)</li>
        <li>AFS 403 – National Security Studies and Prep. for Active Duty, Spring (all three years)</li>
        <li>Faculty Advisor for UK’s Arnold Air Society, cadet leadership and service organization</li>
        <li>Academic Instructor School, 3-week preparation for teaching USAF topics in Higher Ed.</li>
    </ul>
    <li>Adjunct Faculty, National Cryptologic School, National Security Agency, USAF, 1990-1995</li>
<ul>
        <li>Certified three other instructors to teach NCS courses via team-teaching</li>
        <li>RU 102   –  six-week, 180-hour Russian refresher courses for level 1 linguists (3 terms)</li>
        <li>RU […]  –  four 1-week, 35-hour advanced courses for level 2 linguists (8 terms)</li>
        <ul>
            <li>Transcription Techniques</li>
            <li>Verbs of Motion</li>
            <li>Participles</li>
            <li>Verb Prefixes and Conjugations</li>
        </ul>
        <li>Teaching Adult Learners - 2-week course (plus completion of 5 courses above)</li>

</ul>
</ul>

<p><strong>Foreign Language Experience</strong></p>

<ul>
    <li>Russian: ACTFL “Superior” Rating equivalent, reading and listening (DLPT level 3/3)</li>

    <li>Spanish: proficient reading, studied 7 years, including 3 years living in Mallorca, Spain</li>

    <li>
        German and Italian: exposure to both in native environment, plus a college-level German class
    </li>
</ul>

<p><strong>Study/Life/Travel Abroad</strong></p>
<ul>
    <li>Mallorca, Spain (4 years)</li>
    <li>Berlin, Germany (3 years)</li>
    <li>Brindisi, Italy (4 years)</li>
    <li>Honolulu, Hawaii (2 years)</li>
</ul>

<p><strong>Honors and Awards</strong></p>
<ul>
    <li>16 military medals/ribbons: including 3 meritorious service, 2 commendation, 2 achievement</li>
    <li>Professional Voice Language Analyst, NSA board-certified expert in oral transcription</li>
    <li>Professional Language Analyst, NSA board-certified expert in written translation</li>
    <li>#2 score on standardized language test given to all Russian linguists in the Air Force annually</li>
    <li>Gold Medal, #1 linguist and intelligence specialist in annual Air Force competition</li>
    <li>Silver Medal, #2 linguist and intelligence specialist in annual Air Force competition</li>
    <li>Academic Achievement Award, #1 of 225 students in 6-week mid-level management course</li>
    <li>Honor Graduate, Top 10% of 225 students in 6-week mid-level management course</li>
    <li>Graduated #1 of 75 students in 36-week Intermediate Russian Course</li>
    <li>World Affairs Award, best composition of 80 students in 4-week first-line supervisor’s course</li>
    <li>Commandant’s Award, #1 of 55 students in academic track of 47-week Basic Russian Course</li>
    <li>Technical Achievement Award, #1 of 55 in 12-week technical track of Basic Russian Course</li>
</ul>

<p></p>