@page "/resume"
<PageTitle>Resumé</PageTitle>

<style>
    img 
    {
        width: 100%;
        border: 0;
    }
</style>
<center><h1>My Resumé</h1></center>
<p></p>
<p>Please <a target="_blank" href="images/hellums_swe_resume_2022.pdf">click here</a> to load my resume in a separate browser tab.</p>
<p></p>