@page "/Romcom"

<center><h1>Six Degrees of Lacey Chabert</h1></center>

<p></p>
<p>For my Python course at <a target="_blank" href="https://www.codelouisville.org">Code Louisville</a>, I decided to do a Hallmark-related data analysis project. It pulled data for 1100 romantic comedy and drama movies from a large public IMDB dataset, provided a menu for searches and reports, and performed network graph analysis similar to "Six Degrees of Kevin Bacon," but limited to Hallmark movies, actors, and actresses.</p>

<p>This is a video walkthrough of my Python console-based implementation:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://screencast-o-matic.com/watch/c3e6FLVFY4U"><img alt="romcom video walkthrough" src="https://raw.githubusercontent.com/hellums/lacey-bacon/3a9e09f34c14b0cd47733bc70016e16c5a22fb32/images/romcom.jpg"></a>
<p></p>


<p>This is a video walkthrough of my Flask web-based implementation:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://screencast-o-matic.com/watch/c3e6FLVFY4v"><img alt="romcom web video walkthrough" src="https://raw.githubusercontent.com/hellums/lacey-bacon/root/images/romcomWeb.jpg"></a>
<p></p>

<p>The project included a <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/hellums/lacey-bacon/projects/1">Kanban board</a> and a Jupyter notebook-based data analysis:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://github.com/hellums/lacey-bacon/blob/3a9e09f34c14b0cd47733bc70016e16c5a22fb32/romcomEDA.pdf"><img alt="romcom Jupyter notebook" src="images/graph.png"></a>
<p></p>
