@page "/Romcom"

<style>
    img 
    {
        width: 400px;
        border: 2px solid blue;
    }
</style>

<center><h1>Six Degrees of Lacey Chabert</h1></center>

<p></p>
<p>For my Python course, I decided to do a data analysis project that pulls Hallmark-related data from a public IMDB dataset, and perform data analysis on it along the lines of "Six Degrees of Kevin Bacon." This included more than 1100 Hallmark movies and series from the genres of romantic comedy, mystery, and drama. This was part of a 12-week Python Programming and Data Analysis bootcamp at <a target="_blank" href="https://www.codelouisville.org">Code Louisville</a>.</p>

<p>This is a video walkthrough of my Python command-line implementation of it:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://screencast-o-matic.com/watch/c3e6FLVFY4U"><img alt="romcom video walkthrough" src="https://raw.githubusercontent.com/hellums/lacey-bacon/3a9e09f34c14b0cd47733bc70016e16c5a22fb32/images/romcom.jpg"></a>
<p></p>


<p>This is a video walkthrough of my Flask web-based implementation of it:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://screencast-o-matic.com/watch/c3e6FLVFY4v"><img alt="romcom web video walkthrough" src="https://raw.githubusercontent.com/hellums/lacey-bacon/root/images/romcomWeb.jpg"></a>
<p></p>

<p>The project included a <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/hellums/lacey-bacon/projects/1">Kanban board</a> and a Jupyter notebook-based data analysis:</p>
<a target="_blank" class="font-weight-bold link-dark" href="https://github.com/hellums/lacey-bacon/blob/3a9e09f34c14b0cd47733bc70016e16c5a22fb32/romcomEDA.pdf"><img alt="romcom Jupyter notebook" src="images/graph.png"></a>
<p></p>
